.nvmrc

.env.prod
.env.example

.git
.gitignore

.eslintrc.json
.prettierrc.json
jest.config.js

.dockerignore
Dockerfile
docker-compose.yml
docker-compose.override.yml

npm-debug.log*
*.log

LICENSE
README.md

.vscode/
data/
docs/
build/
node_modules/